<div class="about-us">
    <div class="mondays_info">
        <h3>Здорова їжа для чудових людей.</h3>
        <p>Затишне кафе в центрі міста, де можна придбати і скуштувати корисні смаколики,
            спробувати detox - соки та насолодитись живими десертами власного виробництва.</p>
    </div>
    <div class="mondays_gallery">
        <a href="/gallery">Наша галерея</a>
    </div>
    <div class="address_phone">
        <ul>
            <li>м. Івано-Франківськ вул. Франка 11</li>
            <li>Працюємо кожного дня з 9:30 до 20:00</li>
            <li>тел.(093) 774-06-40</li>
        </ul>
    </div>
   <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d41948.15886656836!2d24.715513!3d48.919966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa25616e1e97ef37!2z0J_QvtC90LXQtNGW0LvQutC4!5e0!3m2!1sru!2sua!4v1497889156050" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
