<div class="header">
    <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/about">Про нас</a></li>
        <li><a href="/order">Онлайн-замовлення</a></li>
        <li><a href="/menu/Mondays%20menu.pdf">Меню</a></li>
        <li><a href="/login">Зареєструватися</a></li>
    </ul>
</div>

<div class="details">
        <h3>{{title}}</h3>
    <div class="detail_img">
        <h5>{{details}}</h5>
        <p><img src="{{url}}" alt=""></p>
    </div>
</div>