<div class="header">
    <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/about">Про нас</a></li>
        <li><a href="/order">Онлайн-замовлення</a></li>
        <li><a href="/menu/Mondays%20menu.pdf">Меню</a></li>
        <li><a href="/login">Зареєструватися</a></li>
    </ul>
</div>

<div class="gallery">
    <h1>Галерея MONDAYS cafe&store</h1>
    <a href="/images/gallery/1.jpg"><img src="/images/gallery_small/1_.jpg"/></a>
    <a  href="/images/gallery/2.jpg"><img src="/images/gallery_small/2_.jpg" /></a>
    <a  href="/images/gallery/3.jpg"><img src="/images/gallery_small/3_.jpg" /></a>
    <a  href="/images/gallery/4.jpg"><img src="/images/gallery_small/4_.jpg" /></a>
    <a  href="/images/gallery/5.jpg"><img src="/images/gallery_small/5_.jpg" /></a>
    <a  href="/images/gallery/6.jpg"><img src="/images/gallery_small/6_.jpg" /></a>
    <a  href="/images/gallery/7.jpg"><img src="/images/gallery_small/7_.jpg" /></a>
    <a  href="/images/gallery/8.jpg"><img src="/images/gallery_small/8_.jpg" /></a>
    <a  href="/images/gallery/9.jpg"><img src="/images/gallery_small/9_.jpg" /></a>
    <a  href="/images/gallery/10.jpg"><img src="/images/gallery_small/10_.jpg"/></a>
    <a  href="/images/gallery/11.jpg"><img src="/images/gallery_small/11_.jpg" /></a>
    <a  href="/images/gallery/12.jpg"><img src="/images/gallery_small/12_.jpg" /></a>
    <a  href="/images/gallery/13.jpg"><img src="/images/gallery_small/13_.jpg" /></a>
    <a  href="/images/gallery/14.jpg"><img src="/images/gallery_small/14_.jpg" /></a>
    <a  href="/images/gallery/15.jpg"><img src="/images/gallery_small/15_.jpg" /></a>

</div>


<!--<a><img src="/images/gallery/1.jpg"/></a>
    <a><img src="/images/gallery/2.jpg" /></a>
    <a><img src="/images/gallery/3.jpg" /></a>
    <a><img src="/images/gallery/4.jpg"/></a>
    <a><img src="/images/gallery/5.jpg" /></a>
    <a><img src="/images/gallery/6.jpg" /></a>
    <a><img src="/images/gallery/7.jpg" /></a>
    <a><img src="/images/gallery/8.jpg"/></a>
    <a><img src="/images/gallery/9.jpg"/></a>
    <a><img src="/images/gallery/10.jpg"/></a>
    <a><img src="/images/gallery/11.jpg"/></a>
    <a><img src="/images/gallery/12.jpg"/></a>
    <a><img src="/images/gallery/13.jpg"/></a>
    <a><img src="/images/gallery/14.jpg"/></a>
    <a><img src="/images/gallery/15.jpg"/></a>-->












<!--<div id="cp_widget_47bf7932-0ba5-419d-ad87-628ec4ec47ee">...</div><script type="text/javascript">
    var cpo = []; cpo["_object"] ="cp_widget_47bf7932-0ba5-419d-ad87-628ec4ec47ee"; cpo["_fid"] = "A8GA3B-3rYdV";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>gallery</span><span>cake</span><span>tasty cake</span><span>originaldate</span>
    <span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 478</span><span>height</span><span> 599</span><span>coffe</span><span>cfgvbhnj</span>
    <span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 483</span><span>height</span><span> 532</span>
    <span>vghbjnkm</span><span>vbnm</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 481</span>
    <span>height</span><span> 600</span></noscript>


<iframe width="400" height="700" src="//www.cincopa.com/media-platform/iframe.aspx?fid=A8GA3B-3rYdV" frameborder="0" allowfullscreen scrolling="no"></iframe>
<noscript><span>gallery</span><span>cake</span><span>tasty cake</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span>
    <span> 478</span><span>height</span><span> 599</span><span>coffe</span><span>cfgvbhnj</span><span>originaldate</span>
    <span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 483</span><span>height</span><span> 532</span><span>vghbjnkm</span>
    <span>vbnm</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 481</span><span>height</span>
    <span> 600</span></noscript>-->

