<div class="gallery">
    <h1>Галерея MONDAYS cafe&store</h1>
    <a href="/images/gallery/1.jpg"><img src="/images/gallery_small/1_.jpg"/></a>
    <a  href="/images/gallery/2.jpg"><img src="/images/gallery_small/2_.jpg" /></a>
    <a  href="/images/gallery/3.jpg"><img src="/images/gallery_small/3_.jpg" /></a>
    <a  href="/images/gallery/4.jpg"><img src="/images/gallery_small/4_.jpg" /></a>
    <a  href="/images/gallery/5.jpg"><img src="/images/gallery_small/5_.jpg" /></a>
    <a  href="/images/gallery/6.jpg"><img src="/images/gallery_small/6_.jpg" /></a>
    <a  href="/images/gallery/7.jpg"><img src="/images/gallery_small/7_.jpg" /></a>
    <a  href="/images/gallery/8.jpg"><img src="/images/gallery_small/8_.jpg" /></a>
    <a  href="/images/gallery/9.jpg"><img src="/images/gallery_small/9_.jpg" /></a>
    <a  href="/images/gallery/10.jpg"><img src="/images/gallery_small/10_.jpg"/></a>
    <a  href="/images/gallery/11.jpg"><img src="/images/gallery_small/11_.jpg" /></a>
    <a  href="/images/gallery/12.jpg"><img src="/images/gallery_small/12_.jpg" /></a>
    <a  href="/images/gallery/13.jpg"><img src="/images/gallery_small/13_.jpg" /></a>
    <a  href="/images/gallery/14.jpg"><img src="/images/gallery_small/14_.jpg" /></a>
    <a  href="/images/gallery/15.jpg"><img src="/images/gallery_small/15_.jpg" /></a>

</div>
