<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script><!---->
      <link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"/><!---->
      <!--шрифти окремо!-->
      <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster|PT+Serif" rel="stylesheet">
  </head>
  <body>
      <div class="header">
          <ul>
              <li><a href="/">Головна</a></li>
              <li><a href="/about">Про нас</a></li>
              {{#if signOut}}<li><a href="/order">Онлайн-замовлення</a></li>{{/if}}
              <li><a href="/menu/Mondays%20menu.pdf">Меню</a></li>
              {{#if isAuth}}<li><a href="/login">Зареєструватися/Ввойти</a></li>{{/if}}
              {{#if signOut}}<li><a href="/signup">Выйти</a></li>{{/if}}
          </ul>
      </div>
    {{{body}}}
    <script src="/javascripts/orders.js"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
