<div class="header">
    <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/about">Про нас</a></li>
        <li><a href="/order">Онлайн-замовлення</a></li>
        <li><a href="/menu/Mondays%20menu.pdf">Меню</a></li>
        <li><a href="/login">Зареєструватися</a></li>
    </ul>
</div>
<div class="title-order">
    <div class="form_order">
        <form action="#" method="post" id="form">
            <table>
                <tr>
                    <td><label for="name">Ім'я</label></td>
                    <td><input type="text" name="Name" id="name" required><br/></td>
                </tr>
                <tr>
                    <td><label for="surname">Прізвище</label></td>
                    <td><input type="text" name="Surname" id="surname" required></td>
                </tr>
                <tr>
                    <td><label for="last_name">По-батькові</label></td>
                    <td><input type="text" name="Last_name" id="last_name" required></td>
                </tr>
                <tr>
                    <td><label for="phone">Телефон</label></td>
                    <td><input type="tel" name="Phone" id="phone" required></td>
                </tr>
                <tr>
                    <td><label for="address">Адреса</label></td>
                    <td><input type="text" name="Address" id="address" required></td>
                </tr>
                <tr>
                    <td><label for="menu" class="mes">Замовлення: </label></td>
                    <td>
                        <select multiple style="width: 100%" id="menu">
                            {{#each dish}}
                                <option value="{{_id}}">{{title}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button id="order">Розмістити замовлення</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button id="count">Розрахувати замовлення</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>