<div class="header">
    <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/about">Про нас</a></li>
        <li><a href="/order">Онлайн-замовлення</a></li>
        <li><a href="/menu/Mondays%20menu.pdf">Меню</a></li>
        <li><a href="/login">Зареєструватися</a></li>
    </ul>
</div>
<div class="title-order">
    <div class="form_order">
        <form action="#" method="post" id="form">
            <table>
                <tr>
                    <td><label for="name">Ім'я</label></td>
                    <td><input type="text" name="Name" id="name" required><br/></td>
                </tr>
                <tr>
                    <td><label for="surname">Прізвище</label></td>
                    <td><input type="text" name="Surname" id="surname" required></td>
                </tr>
                <tr>
                    <td><label for="last_name">По-батькові</label></td>
                    <td><input type="text" name="Last_name" id="last_name" required></td>
                </tr>
                <tr>
                    <td><label for="phone">Телефон</label></td>
                    <td><input type="tel" name="Phone" id="phone" required></td>
                </tr>
                <tr>
                    <td><label for="address">Адреса</label></td>
                    <td><input type="text" name="Address" id="address" required></td>
                </tr>
                <tr>
                    <td><label for="menu" class="mes">Замовлення: </label></td>
                    <td><textarea rows="6" cols="30" id="menu" required></textarea></td>
                </tr>
                    <!--<td>
                        <div>
                            <ol id='myTreeView' data-name='foo'>
                                <li class='expanded' data-value='0'>Меню:
                                    <ol>
                                        <li data-value='1'>One
                                            <ol>
                                              <li data-name='baz' data-value='2' data-checked='1'>gggg</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>fffffffff</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>ddddddd</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>Fffffour</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>eeeeeeeee</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>fffffffff</li>
                                                <li data-name='baz' data-value='4' data-checked='1'>ssssssssssss</li>

                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </td>-->


                <tr>
                    <td></td>
                    <td>
                        <button id="order">Розмістити замовлення</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--<ol id='myTreeView' data-name='foo'>
                                <li class='expanded' data-value='0'>All
                                    <ol>
                                        <li data-value='1'>One</li>
                                        <li data-value='2' data-id='2'>
                                            Two
                                            <ol>
                                                <li data-name='baz' data-value='3'>
                                                    Three
                                                    <ol>
                                                        <li data-name='baz' data-value='4' data-checked='1'>Four</li>
                                                    </ol>
                                                </li>
                                                <li data-value='5'>Five</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol> -->